# Import relevant packges

In [ ]:
!pip3 install -q pyspark

     |████████████████████████████████| 281.3 MB 46 kB/s
     |████████████████████████████████| 199 kB 40.6 MB/s
  Building wheel for pyspark (setup.py) ... done

In [ ]:
from pymongo import MongoClient
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pyspark
from pyspark.sql.functions import mean
from pyspark.sql.functions import when
from pyspark.sql.functions import lit
from pyspark.ml.feature import (VectorAssembler,OneHotEncoder, StringIndexer)
from pyspark.ml import Pipeline
from pyspark.ml import PipelineModel
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [ ]:
rhostName="rs0/n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017,n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017"
ruserName="u6vk6zeizoymm929l7bo"
rpassWord="EE08ERhcqTIQg5sQrJTS"
rdbName="bvgzrfytulzeohz"
rMongoURI="mongodb://u6vk6zeizoymm929l7bo:EE08ERhcqTIQg5sQrJTS@n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017,n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017/bvgzrfytulzeohz?replicaSet=rs0"

In [ ]:
# Install MongoDB into the VM
!apt install mongodb > /dev/null

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

In [ ]:
# Starting the MongoDB Service
!service mongodb start

 * Starting database mongodb
   ...done.

In [ ]:
# Importing Mongo Client
import pymongo

from pymongo import MongoClient
import pandas as pd

In [ ]:
# Checking the list of database in MongoDB in the clever-cloud

mongoURI = rMongoURI                                   # for remote server  
client = MongoClient(mongoURI)
client.list_database_names()

['bvgzrfytulzeohz']

In [ ]:
# Displaying the collections in the MongoDB
db = client.bvgzrfytulzeohz
db.list_collection_names()

['restaurants',
 'AntarlinCollection',
 'unece',
 'ecommerce',
 'station-information-9']

In [ ]:
# !ls

In [ ]:
# Checking the databases in MongoDB

mongoURI = rMongoURI                        # remote
client = MongoClient(mongoURI)
client.list_database_names()

['bvgzrfytulzeohz']

In [ ]:
# Displaying the collection in the DB

db = client.bvgzrfytulzeohz
db.list_collection_names()

['restaurants',
 'AntarlinCollection',
 'unece',
 'ecommerce',
 'station-information-9']

In [ ]:
# Displaying the count of rows in the dataset

table = db.AntarlinCollection
table.count_documents({})

1470

In [ ]:
uri = rMongoURI
client = MongoClient( uri )

In [ ]:
client.stats                                # .stats  show details about the client

Database(MongoClient(host=['n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017', 'n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='rs0'), 'stats')

In [ ]:

from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession \
    .builder \
    .master("local[*]") \
    .config("spark.mongodb.input.uri", "mongodb://localhost:27017/bvgzrfytulzeohz.AntarlinCollection") \
    .config("spark.mongodb.output.uri", "mongodb://localhost:27017/bvgzrfytulzeohz.AntarlinCollection") \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
    .getOrCreate()

In [ ]:
sc = spark.sparkContext
sc

In [ ]:
# #import findspark
# #findspark.init()
# from pyspark.sql import SparkSession
# spark = SparkSession \
#     .builder \
#     .master("local[*]") \
#     .config("spark.mongodb.input.uri", "mongodb://localhost:27017/bvgzrfytulzeohz.AntarlinCollection") \
#     .config("spark.mongodb.output.uri", "mongodb://localhost:27017/bvgzrfytulzeohz.AntarlinCollection") \
#     .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1')\
#     .getOrCreate()

In [ ]:
sparkDF = spark.read.format("mongo").option("uri","mongodb://u6vk6zeizoymm929l7bo:EE08ERhcqTIQg5sQrJTS@n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017,n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017/bvgzrfytulzeohz.AntarlinCollection").load()
sparkDF.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|                 _id|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|{62ee0d1b5e66ae0a...|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|{62ee0d1b5e66ae0a...|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|
| 33|       No|Travel_Frequently|     1392|Research & Develo...|               3|        4| Life Sciences|            1|             5|                      4|Female|        56|             3|       1|  Research Scientist|              3|      Married|         2909|      23159|                 1|     Y|     Yes|               11|                3|                       3|           80|               0|                8|                    3|              3|             8|                 7|                      3|                   0|{62ee0d1b5e66ae0a...|
| 27|       No|    Travel_Rarely|      591|Research & Develo...|               2|        1|       Medical|            1|             7|                      1|  Male|        40|             3|       1|Laboratory Techni...|              2|      Married|         3468|      16632|                 9|     Y|      No|               12|                3|                       4|           80|               1|                6|                    3|              3|             2|                 2|                      2|                   2|{62ee0d1b5e66ae0a...|
| 32|       No|Travel_Frequently|     1005|Research & Develo...|               2|        2| Life Sciences|            1|             8|                      4|  Male|        79|             3|       1|Laboratory Techni...|              4|       Single|         3068|      11864|                 0|     Y|      No|               13|                3|                       3|           80|               0|                8|                    2|              2|             7|                 7|                      3|                   6|{62ee0d1b5e66ae0a...|
| 59|       No|    Travel_Rarely|     1324|Research & Develo...|               3|        3|       Medical|            1|            10|                      3|Female|        81|             4|       1|Laboratory Techni...|              1|      Married|         2670|       9964|                 4|     Y|     Yes|               20|                4|                       1|           80|               3|               12|                    3|              2|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|
| 30|       No|    Travel_Rarely|     1358|Research & Develo...|              24|        1| Life Sciences|            1|            11|                      4|  Male|        67|             3|       1|Laboratory Techni...|              3|     Divorced|         2693|      13335|                 1|     Y|      No|               22|                4|                       2|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|
| 38|       No|Travel_Frequently|      216|Research & Develo...|              23|        3| Life Sciences|            1|            12|                      4|  Male|        44|             2|       3|Manufacturing Dir...|              3|       Single|         9526|       8787|                 0|     Y|      No|               21|                4|                       2|           80|               0|               10|                    2|              3|             9|                 7|                      1|                   8|{62ee0d1b5e66ae0a...|
| 36|       No|    Travel_Rarely|     1299|Research & Develo...|              27|        3|       Medical|            1|            13|                      3|  Male|        94|             3|       2|Healthcare Repres...|              3|      Married|         5237|      16577|                 6|     Y|      No|               13|                3|                       2|           80|               2|               17|                    3|              2|             7|                 7|                      7|                   7|{62ee0d1b5e66ae0a...|
| 35|       No|    Travel_Rarely|      809|Research & Develo...|              16|        3|       Medical|            1|            14|                      1|  Male|        84|             4|       1|Laboratory Techni...|              2|      Married|         2426|      16479|                 0|     Y|      No|               13|                3|                       3|           80|               1|                6|                    5|              3|             5|                 4|                      0|                   3|{62ee0d1b5e66ae0a...|
| 29|       No|    Travel_Rarely|      153|Research & Develo...|              15|        2| Life Sciences|            1|            15|                      4|Female|        49|             2|       2|Laboratory Techni...|              3|       Single|         4193|      12682|                 0|     Y|     Yes|               12|                3|                       4|           80|               0|               10|                    3|              3|             9|                 5|                      0|                   8|{62ee0d1b5e66ae0a...|
| 31|       No|    Travel_Rarely|      670|Research & Develo...|              26|        1| Life Sciences|            1|            16|                      1|  Male|        31|             3|       1|  Research Scientist|              3|     Divorced|         2911|      15170|                 1|     Y|      No|               17|                3|                       4|           80|               1|                5|                    1|              2|             5|                 2|                      4|                   3|{62ee0d1b5e66ae0a...|
| 34|       No|    Travel_Rarely|     1346|Research & Develo...|              19|        2|       Medical|            1|            18|                      2|  Male|        93|             3|       1|Laboratory Techni...|              4|     Divorced|         2661|       8758|                 0|     Y|      No|               11|                3|                       3|           80|               1|                3|                    2|              3|             2|                 2|                      1|                   2|{62ee0d1b5e66ae0a...|
| 28|      Yes|    Travel_Rarely|      103|Research & Develo...|              24|        3| Life Sciences|            1|            19|                      3|  Male|        50|             2|       1|Laboratory Techni...|              3|       Single|         2028|      12947|                 5|     Y|     Yes|               14|                3|                       2|           80|               0|                6|                    4|              3|             4|                 2|                      0|                   3|{62ee0d1b5e66ae0a...|
| 29|       No|    Travel_Rarely|     1389|Research & Develo...|              21|        4| Life Sciences|            1|            20|                      2|Female|        51|             4|       3|Manufacturing Dir...|              1|     Divorced|         9980|      10195|                 1|     Y|      No|               11|                3|                       3|           80|               1|               10|                    1|              3|            10|                 9|                      8|                   8|{62ee0d1b5e66ae0a...|
| 32|       No|    Travel_Rarely|      334|Research & Develo...|               5|        2| Life Sciences|            1|            21|                      1|  Male|        80|             4|       1|  Research Scientist|              2|     Divorced|         3298|      15053|                 0|     Y|     Yes|               12|                3|                       4|           80|               2|                7|                    5|              2|             6|                 2|                      0|                   5|{62ee0d1b5e66ae0a...|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|       Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|
| 53|       No|    Travel_Rarely|     1219|               Sales|               2|        4| Life Sciences|            1|            23|                      1|Female|        78|             2|       4|             Manager|              4|      Married|        15427|      22021|                 2|     Y|      No|               16|                3|                       3|           80|               0|               31|                    3|              3|            25|                 8|                      3|                   7|{62ee0d1b5e66ae0a...|
| 38|       No|    Travel_Rarely|      371|Research & Develo...|               2|        3| Life Sciences|            1|            24|                      4|  Male|        45|             3|       1|  Research Scientist|              4|       Single|         3944|       4306|                 5|     Y|     Yes|               11|                3|                       3|           80|               0|                6|                    3|              3|             3|                 2|                      1|                   2|{62ee0d1b5e66ae0a...|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+
only showing top 20 rows

# Additional Info taken from dataset description for reference

In [ ]:
# Education         
# 1 'Below College'
# 2 'College'
# 3 'Bachelor'
# 4 'Master'
# 5 'Doctor'

In [ ]:
# EnvironmentSatisfaction
# 1 'Low'
# 2 'Medium'
# 3 'High'
# 4 'Very High'

In [ ]:
# JobInvolvement
# 1 'Low'
# 2 'Medium'
# 3 'High'
# 4 'Very High'

In [ ]:
# JobSatisfaction
# 1 'Low'
# 2 'Medium'
# 3 'High'
# 4 'Very High'

In [ ]:
# PerformanceRating
# 1 'Low'
# 2 'Good'
# 3 'Excellent'
# 4 'Outstanding'

In [ ]:
# RelationshipSatisfaction
# 1 'Low'
# 2 'Medium'
# 3 'High'
# 4 'Very High'

In [ ]:
# WorkLifeBalance
# 1 'Bad'
# 2 'Good'
# 3 'Better'
# 4 'Best'

In [ ]:
sparkDF.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)

In [ ]:
sparkDF.describe().show()

+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|summary|               Age|Attrition|BusinessTravel|         DailyRate|     Department|DistanceFromHome|         Education|  EducationField|EmployeeCount|   EmployeeNumber|EnvironmentSatisfaction|Gender|        HourlyRate|    JobInvolvement|          JobLevel|             JobRole|   JobSatisfaction|MaritalStatus|    MonthlyIncome|       MonthlyRate|NumCompaniesWorked|Over18|OverTime| PercentSalaryHike|  PerformanceRating|RelationshipSatisfaction|StandardHours|  StockOptionLevel| TotalWorkingYears|TrainingTimesLastYear|   WorkLifeBalance|    YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|  count|              1470|     1470|          1470|              1470|           1470|            1470|              1470|            1470|         1470|             1470|                   1470|  1470|              1470|              1470|              1470|                1470|              1470|         1470|             1470|              1470|              1470|  1470|    1470|              1470|               1470|                    1470|         1470|              1470|              1470|                 1470|              1470|              1470|              1470|                   1470|                1470|
|   mean|36.923809523809524|     null|          null| 802.4857142857143|           null|9.19251700680272| 2.912925170068027|            null|          1.0|1024.865306122449|      2.721768707482993|  null| 65.89115646258503|2.7299319727891156|2.0639455782312925|                null|2.7285714285714286|         null|6502.931292517007|14313.103401360544|2.6931972789115646|  null|    null|15.209523809523809| 3.1537414965986397|      2.7122448979591836|         80.0|0.7938775510204081|11.279591836734694|   2.7993197278911564|2.7612244897959184|7.0081632653061225| 4.229251700680272|     2.1877551020408164|    4.12312925170068|
| stddev| 9.135373489136729|     null|          null|403.50909994352804|           null|8.10686443566608|1.0241649445978718|            null|          0.0|602.0243348474752|     1.0930822146350003|  null|20.329427593996176|0.7115611429632297|1.1069398989351202|                null|1.1028461230547213|         null|4707.956783097992| 7117.786044059972|2.4980090060707463|  null|    null|3.6599377165396385|0.36082352460434397|      1.0812088864403517|          0.0|0.8520766679308381| 7.780781675514995|   1.2892706207958466|0.7064758297141507| 6.126525152403571| 3.623137034670627|     3.2224302791379693|  3.5681361205404363|
|    min|                18|       No|    Non-Travel|               102|Human Resources|               1|                 1| Human Resources|            1|                1|                      1|Female|                30|                 1|                 1|Healthcare Repres...|                 1|     Divorced|             1009|              2094|                 0|     Y|      No|                11|                  3|                       1|           80|                 0|                 0|                    0|                 1|                 0|                 0|                      0|                   0|
|    max|                60|      Yes| Travel_Rarely|              1499|          Sales|              29|                 5|Technical Degree|            1|             2068|                      4|  Male|               100|                 4|                 5|Sales Representative|                 4|       Single|            19999|             26999|                 9|     Y|     Yes|                25|                  4|                       4|           80|                 3|                40|                    6|                 4|                40|                18|                     15|                  17|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+

#Basic EDA on the data

In [ ]:
print((sparkDF.count(), len(sparkDF.columns)))

(1470, 36)

In [ ]:
sparkDF.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)

In [ ]:
dataset =  sparkDF

In [ ]:
dataset.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- EmployeeCount: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- Over18: string (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StandardHours: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- _id: struct (nullable = true)
 |    |-- oid: string (nullable = true)

In [ ]:
dataset.describe().show()

+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|summary|               Age|Attrition|BusinessTravel|         DailyRate|     Department|DistanceFromHome|         Education|  EducationField|EmployeeCount|   EmployeeNumber|EnvironmentSatisfaction|Gender|        HourlyRate|    JobInvolvement|          JobLevel|             JobRole|   JobSatisfaction|MaritalStatus|    MonthlyIncome|       MonthlyRate|NumCompaniesWorked|Over18|OverTime| PercentSalaryHike|  PerformanceRating|RelationshipSatisfaction|StandardHours|  StockOptionLevel| TotalWorkingYears|TrainingTimesLastYear|   WorkLifeBalance|    YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+
|  count|              1470|     1470|          1470|              1470|           1470|            1470|              1470|            1470|         1470|             1470|                   1470|  1470|              1470|              1470|              1470|                1470|              1470|         1470|             1470|              1470|              1470|  1470|    1470|              1470|               1470|                    1470|         1470|              1470|              1470|                 1470|              1470|              1470|              1470|                   1470|                1470|
|   mean|36.923809523809524|     null|          null| 802.4857142857143|           null|9.19251700680272| 2.912925170068027|            null|          1.0|1024.865306122449|      2.721768707482993|  null| 65.89115646258503|2.7299319727891156|2.0639455782312925|                null|2.7285714285714286|         null|6502.931292517007|14313.103401360544|2.6931972789115646|  null|    null|15.209523809523809| 3.1537414965986397|      2.7122448979591836|         80.0|0.7938775510204081|11.279591836734694|   2.7993197278911564|2.7612244897959184|7.0081632653061225| 4.229251700680272|     2.1877551020408164|    4.12312925170068|
| stddev| 9.135373489136729|     null|          null|403.50909994352804|           null|8.10686443566608|1.0241649445978718|            null|          0.0|602.0243348474752|     1.0930822146350003|  null|20.329427593996176|0.7115611429632297|1.1069398989351202|                null|1.1028461230547213|         null|4707.956783097992| 7117.786044059972|2.4980090060707463|  null|    null|3.6599377165396385|0.36082352460434397|      1.0812088864403517|          0.0|0.8520766679308381| 7.780781675514995|   1.2892706207958466|0.7064758297141507| 6.126525152403571| 3.623137034670627|     3.2224302791379693|  3.5681361205404363|
|    min|                18|       No|    Non-Travel|               102|Human Resources|               1|                 1| Human Resources|            1|                1|                      1|Female|                30|                 1|                 1|Healthcare Repres...|                 1|     Divorced|             1009|              2094|                 0|     Y|      No|                11|                  3|                       1|           80|                 0|                 0|                    0|                 1|                 0|                 0|                      0|                   0|
|    max|                60|      Yes| Travel_Rarely|              1499|          Sales|              29|                 5|Technical Degree|            1|             2068|                      4|  Male|               100|                 4|                 5|Sales Representative|                 4|       Single|            19999|             26999|                 9|     Y|     Yes|                25|                  4|                       4|           80|                 3|                40|                    6|                 4|                40|                18|                     15|                  17|
+-------+------------------+---------+--------------+------------------+---------------+----------------+------------------+----------------+-------------+-----------------+-----------------------+------+------------------+------------------+------------------+--------------------+------------------+-------------+-----------------+------------------+------------------+------+--------+------------------+-------------------+------------------------+-------------+------------------+------------------+---------------------+------------------+------------------+------------------+-----------------------+--------------------+

In [ ]:
dataset.groupBy('Attrition').count().show()

+---------+-----+
|Attrition|count|
+---------+-----+
|       No| 1233|
|      Yes|  237|
+---------+-----+

In [ ]:
# We find data imbalance

In [ ]:
dataset.groupBy('Department').count().show()

+--------------------+-----+
|          Department|count|
+--------------------+-----+
|               Sales|  446|
|Research & Develo...|  961|
|     Human Resources|   63|
+--------------------+-----+

In [ ]:
# Checking value counts of education column
dataset.groupBy('Education').count().show()

+---------+-----+
|Education|count|
+---------+-----+
|        1|  170|
|        3|  572|
|        5|   48|
|        4|  398|
|        2|  282|
+---------+-----+

In [ ]:
# Lets check which education filed is showing most attrition
dataset.groupBy('EducationField').count().show()

+----------------+-----+
|  EducationField|count|
+----------------+-----+
|Technical Degree|  132|
|           Other|   82|
|       Marketing|  159|
|         Medical|  464|
|   Life Sciences|  606|
| Human Resources|   27|
+----------------+-----+

In [ ]:
# Lets check which Gender is showing most attrition
dataset.groupBy('Gender').count().show()

+------+-----+
|Gender|count|
+------+-----+
|Female|  588|
|  Male|  882|
+------+-----+

In [ ]:
# Lets check which MaritalStatus is showing most attrition
dataset.groupBy('MaritalStatus').count().show()

+-------------+-----+
|MaritalStatus|count|
+-------------+-----+
|      Married|  673|
|     Divorced|  327|
|       Single|  470|
+-------------+-----+

In [ ]:
# Lets check which BusinessTravel is showing most attrition
dataset.groupBy('BusinessTravel').count().show()

+-----------------+-----+
|   BusinessTravel|count|
+-----------------+-----+
|Travel_Frequently|  277|
|       Non-Travel|  150|
|    Travel_Rarely| 1043|
+-----------------+-----+

In [ ]:
# Lets check which Over18 is showing most attrition
dataset.groupBy('Over18').count().show()

+------+-----+
|Over18|count|
+------+-----+
|     Y| 1470|
+------+-----+

In [ ]:
# Everyone found to be over18 years age

In [ ]:
# Finding the correlation between the numerical values
dataset_pandas = dataset.toPandas()
dataset_pandas.corr().style.background_gradient(cmap='coolwarm').set_precision(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/pandas/io/formats/style.py:2813: RuntimeWarning: All-NaN slice encountered
  smin = np.nanmin(gmap) if vmin is None else vmin
/usr/local/lib/python3.7/dist-packages/pandas/io/formats/style.py:2814: RuntimeWarning: All-NaN slice encountered
  smax = np.nanmax(gmap) if vmax is None else vmax

In [ ]:
# Standard Hours and EmployeeCount has same values throughout

In [ ]:
# Job Level monthly income,joblevel total wrking years,age job level,age monthly income,age total working years,monthly income total working years,
# performance salary hike performance rating have high correlations

# Data Preprocessing

In [ ]:
dataset_pandas

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,_id
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,"(62ee0d1b5e66ae0aa889cc7a,)"
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,"(62ee0d1b5e66ae0aa889cc7b,)"
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,"(62ee0d1b5e66ae0aa889cc7c,)"
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,"(62ee0d1b5e66ae0aa889cc7d,)"
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,"(62ee0d1b5e66ae0aa889cc7e,)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,"(62ee0d225e66ae0aa889d233,)"
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,"(62ee0d225e66ae0aa889d234,)"
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,"(62ee0d225e66ae0aa889d235,)"
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,"(62ee0d225e66ae0aa889d236,)"
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,"(62ee0d225e66ae0aa889d237,)"

In [ ]:
#checking null values
dataset.toPandas().isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
_id                         0
dtype: int64

In [ ]:
# No missing values found

In [ ]:
dataset.dtypes

[('Age', 'int'),
 ('Attrition', 'string'),
 ('BusinessTravel', 'string'),
 ('DailyRate', 'int'),
 ('Department', 'string'),
 ('DistanceFromHome', 'int'),
 ('Education', 'int'),
 ('EducationField', 'string'),
 ('EmployeeCount', 'int'),
 ('EmployeeNumber', 'int'),
 ('EnvironmentSatisfaction', 'int'),
 ('Gender', 'string'),
 ('HourlyRate', 'int'),
 ('JobInvolvement', 'int'),
 ('JobLevel', 'int'),
 ('JobRole', 'string'),
 ('JobSatisfaction', 'int'),
 ('MaritalStatus', 'string'),
 ('MonthlyIncome', 'int'),
 ('MonthlyRate', 'int'),
 ('NumCompaniesWorked', 'int'),
 ('Over18', 'string'),
 ('OverTime', 'string'),
 ('PercentSalaryHike', 'int'),
 ('PerformanceRating', 'int'),
 ('RelationshipSatisfaction', 'int'),
 ('StandardHours', 'int'),
 ('StockOptionLevel', 'int'),
 ('TotalWorkingYears', 'int'),
 ('TrainingTimesLastYear', 'int'),
 ('WorkLifeBalance', 'int'),
 ('YearsAtCompany', 'int'),
 ('YearsInCurrentRole', 'int'),
 ('YearsSinceLastPromotion', 'int'),
 ('YearsWithCurrManager', 'int'),
 ('_id', 'struct<oid:string>')]

In [ ]:
# Lets remove Standard Hours and Employee Count due to properties observed above

In [ ]:
df=dataset.toPandas()

In [ ]:
dataset

DataFrame[Age: int, Attrition: string, BusinessTravel: string, DailyRate: int, Department: string, DistanceFromHome: int, Education: int, EducationField: string, EmployeeCount: int, EmployeeNumber: int, EnvironmentSatisfaction: int, Gender: string, HourlyRate: int, JobInvolvement: int, JobLevel: int, JobRole: string, JobSatisfaction: int, MaritalStatus: string, MonthlyIncome: int, MonthlyRate: int, NumCompaniesWorked: int, Over18: string, OverTime: string, PercentSalaryHike: int, PerformanceRating: int, RelationshipSatisfaction: int, StandardHours: int, StockOptionLevel: int, TotalWorkingYears: int, TrainingTimesLastYear: int, WorkLifeBalance: int, YearsAtCompany: int, YearsInCurrentRole: int, YearsSinceLastPromotion: int, YearsWithCurrManager: int, _id: struct<oid:string>]

In [ ]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,_id
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,80,0,8,0,1,6,4,0,5,"(62ee0d1b5e66ae0aa889cc7a,)"
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,80,1,10,3,3,10,7,1,7,"(62ee0d1b5e66ae0aa889cc7b,)"
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,80,0,7,3,3,0,0,0,0,"(62ee0d1b5e66ae0aa889cc7c,)"
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,80,0,8,3,3,8,7,3,0,"(62ee0d1b5e66ae0aa889cc7d,)"
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,80,1,6,3,3,2,2,2,2,"(62ee0d1b5e66ae0aa889cc7e,)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,80,1,17,3,3,5,2,0,3,"(62ee0d225e66ae0aa889d233,)"
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,80,1,9,5,3,7,7,1,7,"(62ee0d225e66ae0aa889d234,)"
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,80,1,6,0,3,6,2,0,3,"(62ee0d225e66ae0aa889d235,)"
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,80,0,17,3,2,9,6,0,8,"(62ee0d225e66ae0aa889d236,)"
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,80,0,6,3,4,4,3,1,2,"(62ee0d225e66ae0aa889d237,)"

In [ ]:
dfnew=df.drop(['Over18','StandardHours','EmployeeCount'],axis=1)

In [ ]:
dfnew

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,_id
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,2,...,1,0,8,0,1,6,4,0,5,"(62ee0d1b5e66ae0aa889cc7a,)"
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,2,3,...,4,1,10,3,3,10,7,1,7,"(62ee0d1b5e66ae0aa889cc7b,)"
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,4,...,2,0,7,3,3,0,0,0,0,"(62ee0d1b5e66ae0aa889cc7c,)"
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,5,4,...,3,0,8,3,3,8,7,3,0,"(62ee0d1b5e66ae0aa889cc7d,)"
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,7,1,...,4,1,6,3,3,2,2,2,2,"(62ee0d1b5e66ae0aa889cc7e,)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,2061,3,...,3,1,17,3,3,5,2,0,3,"(62ee0d225e66ae0aa889d233,)"
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,2062,4,...,1,1,9,5,3,7,7,1,7,"(62ee0d225e66ae0aa889d234,)"
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2064,2,...,2,1,6,0,3,6,2,0,3,"(62ee0d225e66ae0aa889d235,)"
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,2065,4,...,4,0,17,3,2,9,6,0,8,"(62ee0d225e66ae0aa889d236,)"
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,2068,2,...,1,0,6,3,4,4,3,1,2,"(62ee0d225e66ae0aa889d237,)"

# Serial Data Conversions

## String Indexers

In [ ]:
# String Indexers
# We will encode all the available categorical variable: BusinessTravel, Department, EducationField, Gender, JobRole, MaritalStatus, OverTime
BusinessTravelIndexer = StringIndexer(inputCol="BusinessTravel", outputCol="BusinessTravelIndex")
DepartmentIndexer = StringIndexer(inputCol="Department", outputCol="DepartmentIndex")
EducationFieldIndexer = StringIndexer(inputCol="EducationField", outputCol="EducationFieldIndex")
GenderIndexer = StringIndexer(inputCol="Gender", outputCol="GenderIndex")
JobRoleIndexer = StringIndexer(inputCol="JobRole", outputCol="JobRoleIndex")
MaritalStatusIndexer = StringIndexer(inputCol="MaritalStatus", outputCol="MaritalStatusIndex")
OverTimeIndexer = StringIndexer(inputCol="OverTime", outputCol="OverTimeIndex")

## One Hot Encoder

In [ ]:
# One Hot Encoding the categorical variables
OneHotEncoderStep = OneHotEncoder(inputCols=["BusinessTravelIndex","DepartmentIndex","EducationFieldIndex","GenderIndex","JobRoleIndex","MaritalStatusIndex","OverTimeIndex"],
                                 outputCols=["BusinessTravelVec","DepartmentVec","EducationFieldVec","GenderVec","JobRoleVec","MaritalStatusVec","OverTimeVec"])

## Assembler

In [ ]:
# Assembling all feature columns 
Feature_assembler = VectorAssembler(inputCols=['BusinessTravelVec','DepartmentVec','EducationFieldVec','GenderVec','JobRoleVec','MaritalStatusVec','OverTimeVec',
                                         'Age','DailyRate','DistanceFromHome','Education','EmployeeNumber','EnvironmentSatisfaction',
                                         'HourlyRate','JobInvolvement','JobLevel','JobSatisfaction','MonthlyIncome','MonthlyRate',
                                         'NumCompaniesWorked','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StandardHours','StockOptionLevel',
                                         'TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole',
                                         'YearsSinceLastPromotion','YearsWithCurrManager'],outputCol='features')

In [ ]:
# Base Pipeline 
basePipeline = Pipeline(stages=[BusinessTravelIndexer, DepartmentIndexer, EducationFieldIndexer, GenderIndexer, 
                                JobRoleIndexer, MaritalStatusIndexer, OverTimeIndexer, OneHotEncoderStep, Feature_assembler])

In [ ]:
# Fitting the data on the base pipeline
commonModel = basePipeline.fit(sparkDF).transform(sparkDF)

In [ ]:
dataset = dataset.withColumn("output", \
   when((dataset.Attrition == "Yes"), lit(1)) \
     .otherwise(lit(0)) \
  )
train_dataset,test_dataset = dataset.randomSplit([0.7,0.3])
print(train_dataset.count())
print(test_dataset.count())

1046
424

In [ ]:
train_dataset.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|                 _id|output|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+
| 18|       No|       Non-Travel|      287|Research & Develo...|               5|        2|   Life Sciences|            1|          1012|                      2|  Male|        73|             3|       1|  Research Scientist|              4|       Single|         1051|      13493|                 1|     Y|      No|               15|                3|                       4|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 18|       No|       Non-Travel|     1124|Research & Develo...|               1|        3|   Life Sciences|            1|          1368|                      4|Female|        97|             3|       1|Laboratory Techni...|              4|       Single|         1611|      19305|                 1|     Y|      No|               15|                3|                       3|           80|               0|                0|                    5|              4|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 18|       No|       Non-Travel|     1431|Research & Develo...|              14|        3|         Medical|            1|          1839|                      2|Female|        33|             3|       1|  Research Scientist|              3|       Single|         1514|       8018|                 1|     Y|      No|               16|                3|                       3|           80|               0|                0|                    4|              1|             0|                 0|                      0|                   0|{62ee0d225e66ae0a...|     0|
| 18|       No|    Travel_Rarely|      812|               Sales|              10|        3|         Medical|            1|           411|                      4|Female|        69|             2|       1|Sales Representative|              3|       Single|         1200|       9724|                 1|     Y|      No|               12|                3|                       1|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 18|      Yes|       Non-Travel|      247|Research & Develo...|               8|        1|         Medical|            1|          1156|                      3|  Male|        80|             3|       1|Laboratory Techni...|              3|       Single|         1904|      13556|                 1|     Y|      No|               12|                3|                       4|           80|               0|                0|                    0|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 18|      Yes|Travel_Frequently|      544|               Sales|               3|        2|         Medical|            1|          1624|                      2|Female|        70|             3|       1|Sales Representative|              4|       Single|         1569|      18420|                 1|     Y|     Yes|               12|                3|                       3|           80|               0|                0|                    2|              4|             0|                 0|                      0|                   0|{62ee0d225e66ae0a...|     1|
| 18|      Yes|Travel_Frequently|     1306|               Sales|               5|        3|       Marketing|            1|           614|                      2|  Male|        69|             3|       1|Sales Representative|              2|       Single|         1878|       8059|                 1|     Y|     Yes|               14|                3|                       4|           80|               0|                0|                    3|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 19|       No|    Travel_Rarely|      265|Research & Develo...|              25|        3|   Life Sciences|            1|          1269|                      2|Female|        57|             4|       1|  Research Scientist|              4|       Single|         2994|      21221|                 1|     Y|     Yes|               12|                3|                       4|           80|               0|                1|                    2|              3|             1|                 0|                      0|                   1|{62ee0d1b5e66ae0a...|     0|
| 19|       No|    Travel_Rarely|      645|Research & Develo...|               9|        2|   Life Sciences|            1|          1193|                      3|  Male|        54|             3|       1|  Research Scientist|              1|       Single|         2552|       7172|                 1|     Y|      No|               25|                4|                       3|           80|               0|                1|                    4|              3|             1|                 1|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 19|       No|    Travel_Rarely|     1181|Research & Develo...|               3|        1|         Medical|            1|           201|                      2|Female|        79|             3|       1|Laboratory Techni...|              2|       Single|         1483|      16102|                 1|     Y|      No|               14|                3|                       4|           80|               0|                1|                    3|              3|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 19|      Yes|       Non-Travel|      504|Research & Develo...|              10|        3|         Medical|            1|          1248|                      1|Female|        96|             2|       1|  Research Scientist|              2|       Single|         1859|       6148|                 1|     Y|     Yes|               25|                4|                       2|           80|               0|                1|                    2|              4|             1|                 1|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 19|      Yes|Travel_Frequently|      602|               Sales|               1|        1|Technical Degree|            1|           235|                      3|Female|       100|             1|       1|Sales Representative|              1|       Single|         2325|      20989|                 0|     Y|      No|               21|                4|                       1|           80|               0|                1|                    5|              4|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 19|      Yes|    Travel_Rarely|      303|Research & Develo...|               2|        3|   Life Sciences|            1|           243|                      2|  Male|        47|             2|       1|Laboratory Techni...|              4|       Single|         1102|       9241|                 1|     Y|      No|               22|                4|                       3|           80|               0|                1|                    3|              2|             1|                 0|                      1|                   0|{62ee0d1b5e66ae0a...|     1|
| 19|      Yes|    Travel_Rarely|      419|               Sales|              21|        3|           Other|            1|           959|                      4|  Male|        37|             2|       1|Sales Representative|              2|       Single|         2121|       9947|                 1|     Y|     Yes|               13|                3|                       2|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 19|      Yes|    Travel_Rarely|      489|     Human Resources|               2|        2|Technical Degree|            1|           566|                      1|  Male|        52|             2|       1|     Human Resources|              4|       Single|         2564|      18437|                 1|     Y|      No|               12|                3|                       3|           80|               0|                1|                    3|              4|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 19|      Yes|    Travel_Rarely|      528|               Sales|              22|        1|       Marketing|            1|           167|                      4|  Male|        50|             3|       1|Sales Representative|              3|       Single|         1675|      26820|                 1|     Y|     Yes|               19|                3|                       4|           80|               0|                0|                    2|              2|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 20|       No|    Travel_Rarely|      654|               Sales|              21|        3|       Marketing|            1|          1226|                      3|  Male|        43|             4|       1|Sales Representative|              4|       Single|         2678|       5050|                 1|     Y|      No|               17|                3|                       4|           80|               0|                2|                    2|              3|             2|                 1|                      2|                   2|{62ee0d1b5e66ae0a...|     0|
| 20|       No|    Travel_Rarely|      727|               Sales|               9|        1|   Life Sciences|            1|          1680|                      4|  Male|        54|             3|       1|Sales Representative|              1|       Single|         2728|      21082|                 1|     Y|      No|               11|                3|                       1|           80|               0|                2|                    3|              3|             2|                 2|                      0|                   2|{62ee0d225e66ae0a...|     0|
| 20|       No|    Travel_Rarely|      805|Research & Develo...|               3|        3|   Life Sciences|            1|          1198|                      1|  Male|        87|             2|       1|Laboratory Techni...|              3|       Single|         3033|      12828|                 1|     Y|      No|               12|                3|                       1|           80|               0|                2|                    2|              2|             2|                 2|                      1|                   2|{62ee0d1b5e66ae0a...|     0|
| 20|       No|    Travel_Rarely|      959|Research & Develo...|               1|        3|   Life Sciences|            1|           657|                      4|Female|        83|             2|       1|  Research Scientist|              2|       Single|         2836|      11757|                 1|     Y|      No|               13|                3|                       4|           80|               0|                1|                    0|              4|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+
only showing top 20 rows

In [ ]:
test_dataset.show()

+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|  EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|                 _id|output|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+
| 18|      Yes|    Travel_Rarely|      230|Research & Develo...|               3|        3|   Life Sciences|            1|           405|                      3|  Male|        54|             3|       1|Laboratory Techni...|              3|       Single|         1420|      25233|                 1|     Y|      No|               13|                3|                       3|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 20|       No|    Travel_Rarely|     1141|               Sales|               2|        3|         Medical|            1|          1657|                      3|Female|        31|             3|       1|Sales Representative|              3|       Single|         2783|      13251|                 1|     Y|      No|               19|                3|                       1|           80|               0|                2|                    3|              3|             2|                 2|                      2|                   2|{62ee0d225e66ae0a...|     0|
| 20|      Yes|Travel_Frequently|      871|Research & Develo...|               6|        3|   Life Sciences|            1|           137|                      4|Female|        66|             2|       1|Laboratory Techni...|              4|       Single|         2926|      19783|                 1|     Y|     Yes|               18|                3|                       2|           80|               0|                1|                    5|              3|             1|                 0|                      1|                   0|{62ee0d1b5e66ae0a...|     1|
| 20|      Yes|    Travel_Rarely|      129|Research & Develo...|               4|        3|Technical Degree|            1|           960|                      1|  Male|        84|             3|       1|Laboratory Techni...|              1|       Single|         2973|      13008|                 1|     Y|      No|               19|                3|                       2|           80|               0|                1|                    2|              3|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 20|      Yes|    Travel_Rarely|      500|               Sales|               2|        3|         Medical|            1|           922|                      3|Female|        49|             2|       1|Sales Representative|              3|       Single|         2044|      22052|                 1|     Y|      No|               13|                3|                       4|           80|               0|                2|                    3|              2|             2|                 2|                      0|                   2|{62ee0d1b5e66ae0a...|     1|
| 21|       No|    Travel_Rarely|      391|Research & Develo...|              15|        2|   Life Sciences|            1|            30|                      3|  Male|        96|             3|       1|  Research Scientist|              4|       Single|         1232|      19281|                 1|     Y|      No|               14|                3|                       4|           80|               0|                0|                    6|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 21|      Yes|    Travel_Rarely|      156|               Sales|              12|        3|   Life Sciences|            1|           494|                      3|Female|        90|             4|       1|Sales Representative|              2|       Single|         2716|      25422|                 1|     Y|      No|               15|                3|                       4|           80|               0|                1|                    0|              3|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 21|      Yes|    Travel_Rarely|     1334|Research & Develo...|              10|        3|   Life Sciences|            1|          1079|                      3|Female|        36|             2|       1|Laboratory Techni...|              1|       Single|         1416|      17258|                 1|     Y|      No|               13|                3|                       1|           80|               0|                1|                    6|              2|             1|                 0|                      1|                   0|{62ee0d1b5e66ae0a...|     1|
| 22|       No|       Non-Travel|     1123|Research & Develo...|              16|        2|         Medical|            1|            22|                      4|  Male|        96|             4|       1|Laboratory Techni...|              4|     Divorced|         2935|       7324|                 1|     Y|     Yes|               13|                3|                       2|           80|               2|                1|                    2|              2|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 22|       No|    Travel_Rarely|     1136|Research & Develo...|               5|        3|   Life Sciences|            1|           284|                      4|  Male|        60|             4|       1|  Research Scientist|              2|     Divorced|         2328|      12392|                 1|     Y|     Yes|               16|                3|                       1|           80|               1|                4|                    2|              2|             4|                 2|                      2|                   2|{62ee0d1b5e66ae0a...|     0|
| 22|      Yes|Travel_Frequently|     1256|Research & Develo...|               3|        4|   Life Sciences|            1|          1203|                      3|  Male|        48|             2|       1|  Research Scientist|              4|      Married|         2853|       4223|                 0|     Y|     Yes|               11|                3|                       2|           80|               1|                1|                    5|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
| 23|       No|    Travel_Rarely|      373|Research & Develo...|               1|        2|   Life Sciences|            1|          1270|                      4|  Male|        47|             3|       1|  Research Scientist|              3|      Married|         1223|      16901|                 1|     Y|      No|               22|                4|                       4|           80|               1|                1|                    2|              3|             1|                 0|                      0|                   1|{62ee0d1b5e66ae0a...|     0|
| 23|       No|    Travel_Rarely|      507|Research & Develo...|              20|        1|   Life Sciences|            1|          1533|                      1|  Male|        97|             3|       2|Laboratory Techni...|              3|       Single|         2272|      24812|                 0|     Y|      No|               14|                3|                       2|           80|               0|                5|                    2|              3|             4|                 3|                      1|                   2|{62ee0d225e66ae0a...|     0|
| 23|       No|    Travel_Rarely|      541|               Sales|               2|        1|Technical Degree|            1|           113|                      3|  Male|        62|             3|       1|Sales Representative|              1|     Divorced|         2322|       9518|                 3|     Y|      No|               13|                3|                       3|           80|               1|                3|                    3|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 23|       No|    Travel_Rarely|      885|Research & Develo...|               4|        3|         Medical|            1|           705|                      1|  Male|        58|             4|       1|  Research Scientist|              1|      Married|         2819|       8544|                 2|     Y|      No|               16|                3|                       1|           80|               1|                5|                    3|              4|             3|                 2|                      0|                   2|{62ee0d1b5e66ae0a...|     0|
| 23|       No|    Travel_Rarely|     1309|Research & Develo...|              26|        1|   Life Sciences|            1|           465|                      3|  Male|        83|             3|       1|  Research Scientist|              4|     Divorced|         2904|      16092|                 1|     Y|      No|               12|                3|                       3|           80|               2|                4|                    2|              2|             4|                 2|                      0|                   2|{62ee0d1b5e66ae0a...|     0|
| 23|      Yes|    Travel_Rarely|     1320|Research & Develo...|               8|        1|         Medical|            1|          1684|                      4|  Male|        93|             2|       1|Laboratory Techni...|              3|       Single|         3989|      20586|                 1|     Y|     Yes|               11|                3|                       1|           80|               0|                5|                    2|              3|             5|                 4|                      1|                   2|{62ee0d225e66ae0a...|     1|
| 24|       No|       Non-Travel|     1092|Research & Develo...|               9|        3|   Life Sciences|            1|           812|                      3|  Male|        60|             2|       1|Laboratory Techni...|              2|     Divorced|         2694|      26551|                 1|     Y|      No|               11|                3|                       3|           80|               3|                1|                    4|              3|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|
| 24|       No|    Travel_Rarely|      691|Research & Develo...|              23|        3|         Medical|            1|           639|                      2|  Male|        89|             4|       1|  Research Scientist|              4|      Married|         2725|      21630|                 1|     Y|     Yes|               11|                3|                       2|           80|               2|                6|                    3|              3|             6|                 5|                      1|                   4|{62ee0d1b5e66ae0a...|     0|
| 24|      Yes|    Travel_Rarely|      984|Research & Develo...|              17|        2|   Life Sciences|            1|          1219|                      4|Female|        97|             3|       1|Laboratory Techni...|              2|      Married|         2210|       3372|                 1|     Y|      No|               13|                3|                       1|           80|               1|                1|                    3|              1|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|
+---+---------+-----------------+---------+--------------------+----------------+---------+----------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+
only showing top 20 rows

# Fitting the Different Classification Models

In [ ]:
FinalEstimator = Pipeline(stages=[BusinessTravelIndexer, DepartmentIndexer, EducationFieldIndexer, GenderIndexer, JobRoleIndexer, MaritalStatusIndexer, OverTimeIndexer, OneHotEncoderStep, Feature_assembler]) 
FinalModel = FinalEstimator.fit(train_dataset)                                                      

FinalTrain = FinalModel.transform(train_dataset)
FinalTrain.show(10)

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+-------------------+---------------+-------------------+-----------+------------+------------------+-------------+-----------------+-------------+-----------------+-------------+-------------+----------------+-------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|                 _id|output|BusinessTravelIndex|DepartmentIndex|EducationFieldIndex|GenderIndex|JobRoleIndex|MaritalStatusIndex|OverTimeIndex|BusinessTravelVec|DepartmentVec|EducationFieldVec|    GenderVec|   JobRoleVec|MaritalStatusVec|  OverTimeVec|            features|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+-------------------+---------------+-------------------+-----------+------------+------------------+-------------+-----------------+-------------+-----------------+-------------+-------------+----------------+-------------+--------------------+
| 18|       No|       Non-Travel|      287|Research & Develo...|               5|        2| Life Sciences|            1|          1012|                      2|  Male|        73|             3|       1|  Research Scientist|              4|       Single|         1051|      13493|                 1|     Y|      No|               15|                3|                       4|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|                2.0|            0.0|                0.0|        0.0|         1.0|               1.0|          0.0|        (2,[],[])|(2,[0],[1.0])|    (5,[0],[1.0])|(1,[0],[1.0])|(8,[1],[1.0])|   (2,[1],[1.0])|(1,[0],[1.0])|(46,[2,4,9,11,19,...|
| 18|       No|       Non-Travel|     1124|Research & Develo...|               1|        3| Life Sciences|            1|          1368|                      4|Female|        97|             3|       1|Laboratory Techni...|              4|       Single|         1611|      19305|                 1|     Y|      No|               15|                3|                       3|           80|               0|                0|                    5|              4|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|                2.0|            0.0|                0.0|        1.0|         2.0|               1.0|          0.0|        (2,[],[])|(2,[0],[1.0])|    (5,[0],[1.0])|    (1,[],[])|(8,[2],[1.0])|   (2,[1],[1.0])|(1,[0],[1.0])|(46,[2,4,12,19,20...|
| 18|       No|       Non-Travel|     1431|Research & Develo...|              14|        3|       Medical|            1|          1839|                      2|Female|        33|             3|       1|  Research Scientist|              3|       Single|         1514|       8018|                 1|     Y|      No|               16|                3|                       3|           80|               0|                0|                    4|              1|             0|                 0|                      0|                   0|{62ee0d225e66ae0a...|     0|                2.0|            0.0|                1.0|        1.0|         1.0|               1.0|          0.0|        (2,[],[])|(2,[0],[1.0])|    (5,[1],[1.0])|    (1,[],[])|(8,[1],[1.0])|   (2,[1],[1.0])|(1,[0],[1.0])|(46,[2,5,11,19,20...|
| 18|       No|    Travel_Rarely|      812|               Sales|              10|        3|       Medical|            1|           411|                      4|Female|        69|             2|       1|Sales Representative|              3|       Single|         1200|       9724|                 1|     Y|      No|               12|                3|                       1|           80|               0|                0|                    2|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|                0.0|            1.0|                1.0|        1.0|         7.0|               1.0|          0.0|    (2,[0],[1.0])|(2,[1],[1.0])|    (5,[1],[1.0])|    (1,[],[])|(8,[7],[1.0])|   (2,[1],[1.0])|(1,[0],[1.0])|(46,[0,3,5,17,19,...|
| 18|      Yes|       Non-Travel|      247|Research & Develo...|               8|        1|       Medical|            1|          1156|                      3|  Male|        80|             3|       1|Laboratory Techni...|              3|       Single|         1904|      13556|                 1|     Y|      No|               12|                3|                       4|           80|               0|                0|                    0|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|                2.0|            0.0|                1.0|        0.0|         2.0|               1.0|          0.0|        (2,[],[])|(2,[0],[1.0])|    (5,[1],[1.0])|(1,[0],[1.0])|(8,[2],[1.0])|   (2,[1],[1.0])|(1,[0],[1.0])|(46,[2,5,9,12,19,...|
| 18|      Yes|Travel_Frequently|      544|               Sales|               3|        2|       Medical|            1|          1624|                      2|Female|        70|             3|       1|Sales Representative|              4|       Single|         1569|      18420|                 1|     Y|     Yes|               12|                3|                       3|           80|               0|                0|                    2|              4|             0|                 0|                      0|                   0|{62ee0d225e66ae0a...|     1|                1.0|            1.0|                1.0|        1.0|         7.0|               1.0|          1.0|    (2,[1],[1.0])|(2,[1],[1.0])|    (5,[1],[1.0])|    (1,[],[])|(8,[7],[1.0])|   (2,[1],[1.0])|    (1,[],[])|(46,[1,3,5,17,19,...|
| 18|      Yes|Travel_Frequently|     1306|               Sales|               5|        3|     Marketing|            1|           614|                      2|  Male|        69|             3|       1|Sales Representative|              2|       Single|         1878|       8059|                 1|     Y|     Yes|               14|                3|                       4|           80|               0|                0|                    3|              3|             0|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     1|                1.0|            1.0|                2.0|        0.0|         7.0|               1.0|          1.0|    (2,[1],[1.0])|(2,[1],[1.0])|    (5,[2],[1.0])|(1,[0],[1.0])|(8,[7],[1.0])|   (2,[1],[1.0])|    (1,[],[])|(46,[1,3,6,9,17,1...|
| 19|       No|    Travel_Rarely|      265|Research & Develo...|              25|        3| Life Sciences|            1|          1269|                      2|Female|        57|             4|       1|  Research Scientist|              4|       Single|         2994|      21221|                 1|     Y|     Yes|               12|                3|                       4|           80|               0|                1|                    2|              3|             1|                 0|                      0|                   1|{62ee0d1b5e66ae0a...|     0|                0.0|            0.0|                0.0|        1.0|         1.0|               1.0|          1.0|    (2,[0],[1.0])|(2,[0],[1.0])|    (5,[0],[1.0])|    (1,[],[])|(8,[1],[1.0])|   (2,[1],[1.0])|    (1,[],[])|(46,[0,2,4,11,19,...|
| 19|       No|    Travel_Rarely|      645|Research & Develo...|               9|        2| Life Sciences|            1|          1193|                      3|  Male|        54|             3|       1|  Research Scientist|              1|       Single|         2552|       7172|                 1|     Y|      No|               25|                4|                       3|           80|               0|                1|                    4|              3|             1|                 1|                      0|                   0|{62ee0d1b5e66ae0a...|     0|                0.0|            0.0|                0.0|        0.0|         1.0|               1.0|          0.0|    (2,[0],[1.0])|(2,[0],[1.0])|    (5,[0],[1.0])|(1,[0],[1.0])|(8,[1],[1.0])|   (2,[1],[1.0])|(1,[0],[1.0])|(46,[0,2,4,9,11,1...|
| 19|       No|    Travel_Rarely|     1181|Research & Develo...|               3|        1|       Medical|            1|           201|                      2|Female|        79|             3|       1|Laboratory Techni...|              2|       Single|         1483|      16102|                 1|     Y|      No|               14|                3|                       4|           80|               0|                1|                    3|              3|             1|                 0|                      0|                   0|{62ee0d1b5e66ae0a...|     0|                0.0|            0.0|                1.0|        1.0|         2.0|               1.0|          0.0|    (2,[0],[1.0])|(2,[0],[1.0])|    (5,[1],[1.0])|    (1,[],[])|(8,[2],[1.0])|   (2,[1],[1.0])|(1,[0],[1.0])|(46,[0,2,5,12,19,...|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+--------------------+------+-------------------+---------------+-------------------+-----------+------------+------------------+-------------+-----------------+-------------+-----------------+-------------+-------------+----------------+-------------+--------------------+
only showing top 10 rows

In [ ]:
# Dictionary to store the AUC ROC Scores and F1_scores
auc_scores = {}
F1_scores={}

In [ ]:
dataset.groupby(['output']).count().show()

+------+-----+
|output|count|
+------+-----+
|     1|  237|
|     0| 1233|
+------+-----+

# Modelling

In [ ]:
# I am choosing 1 linear model logistic regression and 2 non linear model  Random Forest and Gradient Boosting Classifier
# so that we dont miss out on any pattern of data

## Logistic Regression

In [ ]:
lr = LogisticRegression(labelCol='output',featuresCol='features')
lrEstimator = Pipeline(stages=[lr])                               
lrmodel = lrEstimator.fit(FinalTrain)                       

lrnewmodel = PipelineModel(stages = [FinalModel , lrmodel])         
lrnewmodel_predictions = lrnewmodel.transform(test_dataset)

In [ ]:
f1_evaluator = MulticlassClassificationEvaluator(labelCol="output", predictionCol="prediction", metricName="f1")
lr_f1=f1_evaluator.evaluate(lrnewmodel_predictions)

print(round(lr_f1,3), 'is the F1 Score of the new LR pipeline')
evaluator = BinaryClassificationEvaluator(labelCol='output')
lr1_auroc = evaluator.evaluate(lrnewmodel_predictions, {evaluator.metricName: "areaUnderROC"})
print("Area under ROC Curve: {:.4f}".format(lr1_auroc))
auc_scores['Logistic Regression'] = lr1_auroc
F1_scores['Logistic Regression']=lr_f1

0.858 is the F1 Score of the new LR pipeline
Area under ROC Curve: 0.8576

## Random Forest Classifier

In [ ]:
rf = RandomForestClassifier(featuresCol = 'features', labelCol = 'output')
rfEstimator = Pipeline(stages=[rf])                               
rfmodel = rfEstimator.fit(FinalTrain)                       

rfnewmodel = PipelineModel(stages = [FinalModel , rfmodel])         
rfnewmodel_predictions = rfnewmodel.transform(test_dataset)

In [ ]:
f1_evaluator = MulticlassClassificationEvaluator(labelCol="output", predictionCol="prediction", metricName="f1")
rfnew_f1=f1_evaluator.evaluate(rfnewmodel_predictions)

print(round(rfnew_f1,3), 'is the F1 Score of the new RF pipeline')
evaluator = BinaryClassificationEvaluator(labelCol='output')
rfnew_auroc = evaluator.evaluate(rfnewmodel_predictions, {evaluator.metricName: "areaUnderROC"})
print("Area under ROC Curve: {:.4f}".format(rfnew_auroc))
auc_scores['Random Forest'] = rfnew_auroc
F1_scores['Random Forest']=rfnew_f1

0.755 is the F1 Score of the new RF pipeline
Area under ROC Curve: 0.8197

## Gradient Boosted Classifier

In [ ]:
gbt = GBTClassifier(featuresCol = 'features', labelCol = 'output')
gbtEstimator = Pipeline(stages=[gbt])                               
gbtmodel = gbtEstimator.fit(FinalTrain)                      

gbt1model = PipelineModel(stages = [FinalModel , gbtmodel])        
gbt1model_predictions = gbt1model.transform(test_dataset)

In [ ]:
f1_evaluator = MulticlassClassificationEvaluator(labelCol="output", predictionCol="prediction", metricName="f1")
gbt1_acc=f1_evaluator.evaluate(gbt1model_predictions)

print(round(gbt1_acc,3), 'is the accuray of the new GBT pipeline')
evaluator = BinaryClassificationEvaluator(labelCol='output')
gbt1_auroc = evaluator.evaluate(gbt1model_predictions, {evaluator.metricName: "areaUnderROC"})
print("Area under ROC Curve: {:.4f}".format(gbt1_auroc))
auc_scores['Gradient Boosted Trees'] = gbt1_auroc

0.767 is the accuray of the new GBT pipeline
Area under ROC Curve: 0.7513

# Model Performance Comparison

In [ ]:
print(auc_scores)

{'Logistic Regression': 0.8575663257744178, 'Random Forest': 0.8196605898918023, 'Gradient Boosted Trees': 0.7512968726841561}

In [ ]:
print(F1_scores)

{'Logistic Regression': 0.8582754505924468, 'Random Forest': 0.7551513411089577, 'Gradient Boosted Trees': 0.7666373816396826}

In [ ]:
# We see from model performances are around 80 percent for F1 score and AUC ROC

In [ ]:
# Logistic Regression Actually outperformed the other more complex non linear models showing the data is linearly 
# seperable but maybe performance of the other algos can be pushed further with hyperparameter tuning.